body {
  background: radial-gradient(rgb(236, 110, 75) 5%, rgb(248, 231, 89) 97%);
}

.container {
  background-color: white;
  margin: 25px auto;
  border-radius: 4px;
  padding: 50px 50px 35px 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif;
  min-width: 220px;
  max-width: 500px;
}

.city-input-bar {
  width: 100%;
  border-color: rgba(236, 110, 75, 0.7);
  border-style: solid;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
.city-input-bar:hover {
  background-color: rgba(248, 231, 89, 0.3);
  border-color: rgba(236, 110, 75, 1);
  color: rgba(236, 110, 75, 1);
}

.current-location-button {
  border-color: rgba(236, 110, 75, 0.7);
  border-style: solid;
  border-radius: 4px;
  background-color: rgba(252, 249, 149, 0.3);
  transition: all 200ms ease-in-out;
}

.current-location-button:hover {
  border-color: rgba(236, 110, 75, 1);
  background-color: rgba(248, 231, 89, 0.7);
  color: rgba(236, 110, 75, 1);
}

h2,
h1 {
  font-family: "Maven Pro", sans-serif;
}

.upper-part {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 5px 0px 5px;
  border: 1px;
  border-style: solid;
  border-color: rgba(236, 110, 75, 0.7);
  border-radius: 4px;
}

.celcius {
  color: var(--bs-heading-color);
  text-decoration: none;
}

.celcius:hover {
  color: rgba(236, 110, 75, 1);
}

.fahrenheit {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.fahrenheit:hover {
  color: rgba(236, 110, 75, 1);
}

.active {
  color: rgba(236, 110, 75, 1);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

.big-weather-pic {
  display: block;
  margin: auto;
}

.big-weather-pic-description {
  text-align: center;
  text-transform: capitalize;
}
.today-more-data {
  border: 0px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(236, 110, 75, 0.7);
}
.today-weather-more-data-1 {
  margin-bottom: 20px;
}
.today-weather-more-data-2 {
  margin-bottom: 180px;
}
.quote {
  color: rgba(236, 110, 75, 1);
}
.future-weather-day {
  margin-bottom: 15px;
}
.small-weather-pic {
  font-size: 40px;
}

.footnote {
  text-align: center;
}
.footnote-link {
  color: rgb(236, 110, 75);
  text-decoration: none;
}
.footnote-link:hover {
  color: white;
}
